# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
pytest_cache/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Jupyter / IPython
.ipynb_checkpoints

# mypy / pyright / pylance
.mypy_cache/
.pyright/
.dmypy.json
.pyre/
